body{
    background: linear-gradient(90deg, rgba(104,198,255,1) 0%, rgba(138,158,255,1) 48%, rgba(255,255,255,1) 100%);
}

#output{
    background: rgba(255, 27, 225, 0.11);
    border-top: 10px solid rgba(224, 67, 255, 0.43);
    box-shadow: 5px 5px black;
    padding-bottom: 30px;
}

#sender{
    box-shadow: 5px 5px black;
    margin-top: 20px;
}

.pointsManagerStyle{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 30px;
}